/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
	--home-projects: url(../ico/home-projects-light.png);
	--home-blog: url(../ico/home-blog-light.png);
	--home-about: url(../ico/home-about-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
	--home-projects: url(../ico/home-projects-dark.png);
	--home-blog: url(../ico/home-blog-dark.png);
	--home-about: url(../ico/home-about-dark.png);
}

.standard {
	display: block;
}

.mobile {
	display: none;
}

#content-main {
	position: absolute;
	z-index: 20;
	top: 20%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 7rem !important;
	color: var(--color);
}

h2 {
	font-size: 4rem !important;
}

.title-text {
	color: var(--text);
}

.subtitle-text {
	font-size: 2rem !important;
	color: var(--subtitle);
}

.detail-text {
	color: var(--subtitle);
}

#credits {
	text-align: center;
	position: fixed;
	left: 0rem;
	bottom: 0rem;
	height: 2rem;
	width: 100%;
	display: table;
	margin: auto;
}

/* ===== media queries for responsive resizing ===== */

/* 
Device Sizes in px (width x height):
  Galaxy Fold        280x653
  iPhone 5/SE        320x568
  Moto G4            360x640
  Galaxy S5          360x640
  iPhone 6/7/8       375x667
  iPhone X           375x812
  Pixel 2            411x731
  Pixel 2 XL         411x823
  iPhone 6/7/8 Plus  414x736
  Surface Duo        540x720
  iPad/iPad Mini     768x1024
  iPad Pro           1024x1366
*/

@media (hover: none) and (max-height: 568px) {
	
}

@media (hover: none) and (max-width: 414px) {
	.title-text {
		font-size: 2rem !important;
	}

	.subtitle-text {
		font-size: 1.3rem !important;
	}

	.standard {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}

	#credits {
		display: none;
	}
}

@media (hover: none) and (min-height: 567px) {
	
}

@media (hover: none) and (min-height: 666px) {
	
}

@media (hover: none) and (min-height: 735px) {
	
}

@media (hover: none) and (min-height: 811px) {
	
}

@media (hover: none) and (max-width: 750px) {

}

@media (hover: none) and (max-width: 768px) and (min-height: 1023px) {

}

@media (hover: none) and (max-width: 1024px) and (min-height: 1365px) {

}
