/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
	--home-projects: url(../ico/home-projects-light.png);
	--home-blog: url(../ico/home-blog-light.png);
	--home-about: url(../ico/home-about-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
	--home-projects: url(../ico/home-projects-dark.png);
	--home-blog: url(../ico/home-blog-dark.png);
	--home-about: url(../ico/home-about-dark.png);
}

#content-main {
	position: absolute;
	z-index: 20;
	top: 20%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 7rem !important;
	color: var(--color);
}

h2 {
	font-size: 4rem !important;
}

.title-text {
	color: var(--text);
}

.subtitle-text {
	font-size: 2rem !important;
	color: var(--subtitle);
}

.detail-text {
	color: var(--subtitle);
}

#credits {
	text-align: center;
	position: fixed;
	left: 0rem;
	bottom: 0rem;
	height: 2rem;
	width: 100%;
	display: table;
	margin: auto;
}
