/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

.animate__animated.animate__fadeInUp, .animate__animated.animate__fadeIn {
	--animate-delay: 0.3s
}

#content-main {
	position: relative;
	z-index: 20;
	top: 8rem;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

h2 {
	font-size: 3rem !important;
}

h5 {
	color: var(--subtitle) !important;
}

.color {
	color: var(--color);
}

#content-body {
	width: 75%;
	margin: 0 auto;
}

#blog-logo-container {
	margin: 0 auto;
	padding-bottom: 2rem;
}

#blog-logo {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#blog-title {
	text-align: center;
}

#blog-credits {
	padding-bottom: 1rem;
}

#blog-author-img-container {
	padding-left: 1rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
}

#blog-author-img-container img {
	margin: auto;
	display: block;
	width: 2rem;
	max-width: 2rem;
	height: 2rem;
	max-height: 2rem;
	border-radius: 2rem;
}

#blog-author {
	margin: 0;
	font-size: 1rem;
}

.blog-metadata {
	margin-bottom: 0rem;
	font-size: 0.8rem;
	color: var(--subtitle);
	font-family: 'Lato', sans-serif;
}

#blog-cover {
	height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden !important;
    border-radius: 1rem;
	transition: transform .4s ease;
}

#blog-cover-container {
	overflow: hidden;
	margin: 0rem;
	padding: 0 0 1rem 0;
}

#blog-subtitle {
	text-align: center;
	padding-bottom: 0.5rem;
	color: var(--color) !important;
}

#blog-content-container {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

#cover-credit {
	padding-top: 1rem;
	color: var(--subtitle) !important;
}

#stale-content-container {
	padding: 1rem;
	margin-bottom: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

#blog-navigation-container {
	padding: 1rem;
}

.blog-navigation-chunk {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.blog-navigation-chunk:hover {
	cursor: pointer;
}

.show-more {
	display: none;
	color: var(--color);
}

#blog-navigation-back:hover .show-more {
	display: inline;
}

#blog-navigation-next:hover .show-more {
	display: inline;
}

/* overwrite markdown CSS for blogs */
.content-subtitle {
	font-size: 3rem !important;
}

.content-text {
	font-size: 1.2rem !important;
}

.navigation-detail-text {
	margin-bottom: 0 !important;
}
