/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.animate__animated.animate__fadeInUp, .animate__animated.animate__fadeIn {
	--animate-delay: 0.3s
}

.standard {
	display: block;
}

.mobile {
	display: none;
}

#content-main {
	position: relative;
	z-index: 20;
	top: 8rem;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

h5 {
	color: var(--subtitle) !important;
}

.color {
	color: var(--color);
}

#content-body {
	width: 75%;
	margin: 0 auto;
}

#blog-logo-container {
	margin: 0 auto;
	padding-bottom: 2rem;
}

#blog-logo {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#blog-title {
	text-align: center;
}

#blog-credits {
	padding-bottom: 1rem;
}

#blog-author-img-container {
	padding-left: 1rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
}

#blog-author-img-container img {
	margin: auto;
	display: block;
	width: 2rem;
	max-width: 2rem;
	height: 2rem;
	max-height: 2rem;
	border-radius: 2rem;
}

#blog-author-img-container-mobile {
	padding-left: 1rem;
	padding-right: 0.5rem;
	display: flex;
	align-items: center;
}

#blog-author-img-container-mobile img {
	margin: auto;
	display: block;
	width: 2rem;
	max-width: 2rem;
	height: 2rem;
	max-height: 2rem;
	border-radius: 2rem;
}

#blog-author {
	margin: 0;
	font-size: 1rem;
}

.blog-metadata {
	margin-bottom: 0rem;
	font-size: 0.8rem;
	color: var(--subtitle);
	font-family: 'Lato', sans-serif;
}

#blog-cover {
	height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden !important;
    border-radius: 1rem;
	transition: transform .4s ease;
}

#blog-cover-container {
	overflow: hidden;
	margin: 0rem;
	padding: 0 0 1rem 0;
}

#blog-subtitle {
	font-size: 1.75rem !important;
	text-align: center;
	padding-bottom: 0.5rem;
	color: var(--color) !important;
}

#blog-content-container {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

#cover-credit {
	padding-top: 1rem;
	color: var(--subtitle) !important;
}

#stale-content-container {
	padding: 1rem;
	margin-bottom: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

#blog-navigation-container {
	padding: 1rem;
}

.blog-navigation-chunk {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.blog-navigation-chunk:hover {
	cursor: pointer;
}

.show-more {
	display: none;
	color: var(--color);
}

#blog-navigation-back:hover .show-more {
	display: inline;
}

#blog-navigation-next:hover .show-more {
	display: inline;
}

/* overwrite markdown CSS for blogs */
.h3 {
	font-size: 3rem !important;
}

.p {
	font-size: 1.2rem !important;
}

.navigation-detail-text {
	margin-bottom: 0 !important;
}

/* ===== media queries for responsive resizing ===== */
.blog-credits-container-mobile {
	width: 100%;
	max-width: 100%;
}

/* 
Device Sizes in px (width x height):
  Galaxy Fold        280x653
  iPhone 5/SE        320x568
  Moto G4            360x640
  Galaxy S5          360x640
  iPhone 6/7/8       375x667
  iPhone X           375x812
  Pixel 2            411x731
  Pixel 2 XL         411x823
  iPhone 6/7/8 Plus  414x736
  Surface Duo        540x720
  iPad/iPad Mini     768x1024
  iPad Pro           1024x1366
*/

@media (hover: none) and (max-height: 568px) {
	
}

@media (hover: none) and (max-width: 414px) {
	.standard {
		display: none !important;
	}

	.mobile {
		display: block !important;
	}

	#content-main {
		width: 95%;
	}

	#content-body {
		width: 100%;
	}

	#content-main h1 {
		font-size: 3rem !important;
	}

	#blog-subtitle {
		font-size: 1.2rem !important;
	}

	.h3 {
		font-size: 1.7rem !important;
	}

	#blog-navigation-back-mobile {
		margin-bottom: 2rem;
	}

	#blog-author-mobile {
		font-size: 1.1rem !important;
		margin-bottom: 0;
	}

	#blog-author-img-container-mobile {
		padding-left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media (hover: none) and (min-height: 567px) {
	
}

@media (hover: none) and (min-height: 666px) {
	
}

@media (hover: none) and (min-height: 735px) {
	
}

@media (hover: none) and (min-height: 811px) {
	
}

@media (hover: none) and (max-width: 750px) {
	#blog-navigation-back {
		margin-bottom: 2rem;
	}
}

@media (hover: none) and (max-width: 768px) and (min-height: 1023px) {
	#content-main {
		width: 95%;
	}	

	#content-body {
		width: 100%;
	}
}

@media (hover: none) and (max-width: 1024px) and (min-height: 1365px) {
	#content-main {
		width: 95%;
	}

	#content-body {
		width: 100%;
	}
}
