.grey {
	color: grey;
}

.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.blue {
	color: blue;
}

.pink {
	color: pink;
}

.teal {
	color: teal;
}

.white {
	color: white;
}
