:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	/*--background: #252323;*/
	--background: #292929;
	--detail: #34495e;
	/*--color: #442c73;*/
	--color: #6642ac;
	/*--color: #662113;*/
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

@font-face {
	font-family: 'EksellDisplayLarge';
	font-style: normal;
	font-weight: normal;
	src: url(../font/eksell_display_large.otf) format('opentype');
}
@font-face {
	font-family: 'EksellDisplayMedium';
	font-style: normal;
	font-weight: normal;
	src: url(../font/eksell_display_medium.otf) format('opentype');
}
@font-face {
	font-family: 'EksellDisplaySmall';
	font-style: normal;
	font-weight: normal;
	src: url(../font/eksell_display_small.otf) format('opentype');
}
@font-face {
	font-family: 'EksellDisplayStencil';
	font-style: normal;
	font-weight: normal;
	src: url(../font/eksell_display_stencil.otf) format('opentype');
}

html {
	height: 100%;
}

body {
	font-family: 'EksellDisplayMedium' !important;
	overflow-x: hidden;
	height: 100%;
	color: var(--text) !important;
	background-color: var(--background) !important;
}

.spacer {
	height: 6rem;
}

.spacer-small {
	height: 2rem;
}