#dark-mode-toggle-container {
	position: fixed;
	top: 0rem;
	right: 0rem;
	z-index: 25;
	background-color: transparent;
	margin-top: 1rem;
	margin-right: 1rem;
}

#dark-mode-toggle {
	background-image: var(--toggle);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 3rem;
	width: 3rem;
	border: none;
}

#dark-mode-toggle:focus {
	outline: 0;
}
