/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

#content-main {
	position: absolute;
	z-index: 20;
	top: 20%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

#email-contact {
	position: absolute;
	right: 5rem;
	top: 1.05rem;
	background-color: var(--color);
	color: var(--text);
	border: none;
	border-radius: 1.6rem;
	padding: 1rem;
	font-size: 0.9rem;
	font-weight: lighter;
	width: 10rem;
	transition: all ease 0.3s;
}

#email-contact:focus {
	outline: 0;
}

#tagline {
	color: var(--color);
}

.home-block {
	text-align: center;
	background-color: var(--color);
	height: 10rem;
	outline: solid 0.25rem;
	margin: 3rem;
	color: var(--text) !important;
	transition: all ease 0.3s;
	border: 0.2rem solid var(--text);
}

.home-block:hover {
	border-radius: 1rem;
	transform: scale(1.1);
}

a.home-block {
	outline: none;
}

.vertically-centered {
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

#credits {
	text-align: center;
	position: absolute;
	bottom: 0rem;
	height: 2rem;
	width: 100%;
	display: table;
	margin: auto;
}

#credits div {
	display: inline-block;
}

.svg-inline--fa.fa-w-14 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.svg-inline--fa.fa-w-12 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#credits a {
	color: var(--text);
	padding: 0;
	margin: 0;
}
