/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
	--home-projects: url(../ico/home-projects-light.png);
	--home-blog: url(../ico/home-blog-light.png);
	--home-about: url(../ico/home-about-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
	--home-projects: url(../ico/home-projects-dark.png);
	--home-blog: url(../ico/home-blog-dark.png);
	--home-about: url(../ico/home-about-dark.png);
}

#content-main {
	position: absolute;
	z-index: 20;
	top: 20%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

h2 {
	font-size: 3rem !important;
}

.subtitle-text {
	color: var(--subtitle);
}

#email-contact {
	position: fixed;
	right: 5rem;
	top: 1.05rem;
	background-color: var(--color);
	color: var(--text);
	border: none;
	border-radius: 1.6rem;
	padding: 1rem;
	font-size: 0.9rem;
	font-weight: lighter;
	width: 10rem;
	transition: all ease 0.3s;
}

#email-contact:focus {
	outline: 0;
}

#tagline {
	color: var(--color);
}

.home-block-item {
	height: 5rem;
	width: 5rem;
	padding: 0rem;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.home-block-container {
	height: 8rem;
	width: 8rem;
	border-radius: 4rem;
	background-color: var(--text);
	position: relative;
	transition: all ease 0.3s;
}

#home-about-logo {
	content: var(--home-about);
}

#home-projects-logo {
	content: var(--home-projects);
}

#home-blog-logo {
	content: var(--home-blog);
}

#home-about-container::before, #home-about-container::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	top: 0;
	left: 0;
}

#home-about-container:hover {
	color: var(--color);
	transform: scale(1.1);
}

#home-about-container::before {
	border: 0.15rem solid transparent;
}

#home-about-container:hover::before {
	border-top-color: var(--color);
	border-right-color: var(--color);
	border-bottom-color: var(--color);
	transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

#home-about-container::after {
	border: 0 solid transparent;
}

#home-about-container:hover::after {
	border-top: 0.15rem solid var(--color);
	border-left-width: 0.15rem;
	border-right-width: 0.15rem;
	transform: rotate(270deg);
	transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

#home-projects-container::before, #home-projects-container::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	top: 0;
	left: 0;
}

#home-projects-container:hover {
	color: var(--color);
	transform: scale(1.1);
}

#home-projects-container::before {
	border: 0.15rem solid transparent;
}

#home-projects-container:hover::before {
	border-top-color: var(--color);
	border-right-color: var(--color);
	border-bottom-color: var(--color);
	transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

#home-projects-container::after {
	border: 0 solid transparent;
}

#home-projects-container:hover::after {
	border-top: 0.15rem solid var(--color);
	border-left-width: 0.15rem;
	border-right-width: 0.15rem;
	transform: rotate(270deg);
	transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

#home-blog-container::before, #home-blog-container::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
	top: 0;
	left: 0;
}

#home-blog-container:hover {
	color: var(--color);
	transform: scale(1.1);
}

#home-blog-container::before {
	border: 0.15rem solid transparent;
}

#home-blog-container:hover::before {
	border-top-color: var(--color);
	border-right-color: var(--color);
	border-bottom-color: var(--color);
	transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

#home-blog-container::after {
	border: 0 solid transparent;
}

#home-blog-container:hover::after {
	border-top: 0.15rem solid var(--color);
	border-left-width: 0.15rem;
	border-right-width: 0.15rem;
	transform: rotate(270deg);
	transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

a.home-block {
	outline: none;
}

#credits {
	text-align: center;
	position: fixed;
	left: 0rem;
	bottom: 0rem;
	height: 2rem;
	width: 100%;
	display: table;
	margin: auto;
}

#credits div {
	display: inline-block;
}

.svg-inline--fa.fa-w-14 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.svg-inline--fa.fa-w-12 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#credits a {
	color: var(--text);
	padding: 0;
	margin: 0;
}

#credits a:hover {
	color: var(--color) !important;
}
