@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.bold-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.fancy-link {
	font-weight: 400;
}

.content-text {
	color: var(--subtitle);
	font-size: 1.1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.centered-text {
	text-align: center;
}

.content-subtitle {
	font-size: 1.5rem;
}

#start-content-text {
	font-size: 1.8rem;
	text-align: center;
	font-family: 'EksellDisplayMedium' !important;
}

.inline-code {
	color: var(--color);
}

.block-code {
	color: var(--text);
	font-family: 'Roboto Mono', monospace;
}

.code-container {
	background-color: var(--detail);
	padding: 1rem;
	font-family: 'Roboto Mono', monospace;
}

.shoutout {
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
	padding: 1rem;
	margin: 0rem;
}

.shoutout-title {
	color: var(--color);
	font-size: 1.3rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
	font-family: 'EksellDisplayMedium' !important;
}

.shoutout-text {
	color: var(--subtitle);
	font-size: 1.2rem;
	margin: 0rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.content-img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	background-size: cover;
	object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.img-subtitle {
	padding-top: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	font-style: italic;
	color: var(--subtitle);
}

.table-align-left {
	text-align: left
}

.table-align-center {
	text-align: center
}

.table-align-right {
	text-align: right
}

th {
	padding: 0 0.5rem;
}

td {
	padding: 0 0.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/*table {
	margin: 0 auto;
}*/