@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.bold-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.fancy-link {
	font-weight: 400;
}

.p {
	color: var(--subtitle);
	font-size: 1.1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.centered-text {
	text-align: center;
}

.content-subtitle {
	font-size: 1.5rem;
}

.inline-code {
	color: var(--color);
}

.block-code {
	color: var(--text);
	font-family: 'Roboto Mono', monospace;
}

.code-container {
	background-color: var(--detail);
	padding: 1rem;
	font-family: 'Roboto Mono', monospace;
	width: 0;
	max-width: 100%;
	min-width: 100%;
	position: relative;
}

.shoutout {
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
	padding: 1rem;
	margin: 0rem;
}

.shoutout-title {
	color: var(--color);
	font-size: 1.3rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
	font-family: 'EksellDisplayMedium' !important;
}

.shoutout-text {
	color: var(--subtitle);
	font-size: 1.2rem;
	margin: 0rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.content-img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 30rem;
	background-size: contain;
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.img-subtitle {
	padding-top: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	font-style: italic;
	color: var(--subtitle);
}

.codeblock-copy-icon {
	position: absolute;
	top: 0;
	right: 0;
	background-image: var(--copy);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50%;
	height: 2rem;
	width: 2rem;
	border: none;
	outline: none;
	margin: 0.5rem;
	z-index: 100;
}

.codeblock-copy-icon:hover {
	cursor: pointer;
}

.codeblock-copy-icon:click {
	background-image: var(--toggle);
}

/* tables */
.table-align-left {
	text-align: left
}

.table-align-center {
	text-align: center
}

.table-align-right {
	text-align: right
}

.youtube-embedded {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-embedded iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

th {
	padding: 0 0.5rem;
}

td {
	padding: 0 0.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/* blockquote */
.blockquote {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: var(--text);
	font-size: 1.5rem;
	margin-left: 2rem;
	padding-left: 0.5rem;
	border-left: 0.1rem solid;
	border-left-color: var(--text);
}

/* slideshow */
/* slideshow container */
.markdown-slideshow-container {
	box-sizing: border-box;
	max-width: 98%;
	position: relative;
	margin: auto;
}

/* hide the images by default */
.markdown-slideshow-slide {
	box-sizing: border-box;
	display: none;
}

/* next & previous buttons */
.markdown-slideshow-prev, .markdown-slideshow-next {
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -1.375rem;
	padding: 1rem;
	color: black;
	font-weight: bold;
	font-size: 1.125rem;
	transition: 0.6s ease;
	border-radius: 0 0.188rem 0.188rem 0;
	user-select: none;
}

/* position the next button to the right */
.markdown-slideshow-next {
	box-sizing: border-box;
	right: 0;
	border-radius: 0.188rem 0 0 0.188rem;
}

/* on hover, add a black background color with a little bit see-through */
.markdown-slideshow-prev:hover, .markdown-slideshow-next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
	text-decoration: none !important;
}

/* caption text */
.markdown-slideshow-slide-caption {
	box-sizing: border-box;
	color: black;
	font-size: 0.938rem;
	padding: 0.5rem 0.75rem;
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	text-align: center;
}

/* the dots indicators (current slide indicator) */
.markdown-slideshow-dot {
	box-sizing: border-box;
	cursor: pointer;
	height: 0.5rem;
	width: 0.5rem;
	margin: 0 0.125rem;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.markdown-slideshow-active-slide, .markdown-slideshow-dot:hover {
	background-color: #717171;
}

/* fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* Highlight.js styling override */
.hljs {
	background: inherit !important;
	color: var(--text) !important;
}

pre code.hljs {
	padding: 0 !important;
}

.hljs-section, .hljs-title, .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: var(--code-highlight-0) !important;
}

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
	color: var(--code-highlight-1) !important;	
}

.hljs-literal {
	color: var(--code-highlight-2) !important;
}

.hljs-attr, .hljs-tag, .hljs-name, .hljs-punctuation {
	color: var(--code-highlight-3) !important;
}