/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

#content-main {
	position: relative;
	z-index: 20;
	top: 8rem;
	display: table;
	margin: 0 auto;
	width: 75%;
}

h2 {
	font-size: 3rem !important;
}

h5 {
	color: var(--subtitle) !important;
}

#content-main h1 {
	font-size: 5rem !important;
}

.project-border {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

div.col-md-6.no-shift {
	left: 1rem !important;
}

.project-super-indicator-text {
	color: var(--color) !important;
	margin: 0;
}

.project-super-subtitle-text {
	color: var(--subtitle) !important;
	font-size: 1.5rem !important;
}

.project-regular-subtitle-text {
	color: var(--subtitle) !important;
	margin-bottom: 0.5rem;
}

.project-featured-subtitle-text {
	color: var(--subtitle) !important;
	font-size: 1.3rem !important;
}

.project-featured-about-text {
	color: var(--text) !important;
	font-size: 1.1rem !important;
}

.project-logo {
	display: table;
	margin: 0 auto;
	padding-bottom: 1rem;
}

.project-logo-featured {
	padding: 2rem;
}

.technologies-list {
	font-size: 0.75rem;
	font-family: 'Roboto Mono', monospace;
}

.icons {
	padding-left: 1rem;
}

.github-icon, .link-icon, .docs-icon, .demo-icon {
	padding-left: 0rem !important;
	padding-right: 1rem !important;
}

.equal {
	display: flex;
	flex-wrap: wrap;
}

[id^=title-] {
	color: var(--text) !important;
	text-decoration: none;
	background-image: linear-gradient(var(--color), var(--color));
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.125rem;
	transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}

.featured-project-logo {
	padding: 2rem;
}