/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

.animate__animated.animate__fadeInUp, .animate__animated.animate__fadeIn {
	--animate-delay: 0.3s
}

#content-main {
	position: relative;
	z-index: 20;
	top: 8rem;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

h2 {
	font-size: 3rem !important;
}

h5 {
	color: var(--subtitle) !important;
}

#content-body {
	width: 75%;
	margin: 0 auto;
}

#project-logo-container {
	margin: 0 auto;
	padding-bottom: 2rem;
}

#project-logo {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#project-title {
	text-align: center;
}

#project-blurb {
	text-align: center;
	padding-bottom: 0.5rem;
}

#technologies-list {
	text-align: center;
	font-size: 0.75rem;
	font-family: 'Roboto Mono', monospace;
}

.technologies-list-metadata {
	font-size: 0.85rem;
	font-family: 'Roboto Mono', monospace;
}

#icons-container {
	margin: 0 auto;
	text-align: center;
}

.shift-icons a {
	padding-left: 0rem !important;
	padding-right: 1rem !important;
}

#metadata-container {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

.project-metadata-label {
	padding: 0rem;
	margin: 0rem;
	color: var(--subtitle);
	font-size: 0.7rem;
}

.project-metadata-value {
	padding: 0rem 0rem 1rem 0rem;
	margin: 0rem;
}

#project-metadata-icons {
	padding-left: 1rem;
}

#project-about-container {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
}

#project-navigation-container {
	padding: 1rem;
}

.project-navigation-chunk {
	padding: 1rem;
	border: solid 0.2rem var(--text);
	border-radius: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project-navigation-chunk:hover {
	cursor: pointer;
}

.show-more {
	display: none;
	color: var(--color);
}

#project-navigation-back:hover .show-more {
	display: inline;
}
