/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
	--background: #ecf0f1;
	--detail: #bdc3c7;
	--subtitle: #6A6C6E;
	--color: #e67e22;
	--text: #252323;
	--toggle: url(../ico/dark-mode-toggle-light.png);
}

:root.dark-mode {
	--background: #292929;
	--detail: #34495e;
	--subtitle: #8895A1;
	--color: #6642ac;
	--text: #ecf0f1;
	--toggle: url(../ico/dark-mode-toggle-dark.png);
}

#content-main {
	position: relative;
	z-index: 20;
	top: 8rem;
	display: table;
	margin: 0 auto;
	width: 75%;
}

#content-main h1 {
	font-size: 5rem !important;
}

h5 {
	color: var(--subtitle) !important;
}

.vault-header {
	font-size: 1.5rem !important;
	color: var(--text) !important;
}

#vault-header-type, #vault-header-year {
	text-align: center;
}

.vault-row {
	padding-bottom: 1rem;
}

.vault-year {
	color: var(--color) !important;
	text-align: center;
	font-size: 1.2rem;
}

.vault-type {
	text-align: center;
	color: var(--subtitle);
}

.vault-resources {
	font-family: 'Roboto Mono', monospace;
	color: var(--subtitle) !important;
	font-size: 0.75rem;
}

.vault-title {
	font-size: 1.2rem;
	color: var(--text) !important;
	text-decoration: none;
	background-image: linear-gradient(var(--color), var(--color));
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.125rem;
	transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}
