<!DOCTYPE html>
{{sys:header}}
<html lang="en">
	<head>
		<!-- metadata -->
		{{meta:about}}

		<!-- CSS -->
		<link rel="stylesheet" href="{{css:common.css}}">
		<link rel="stylesheet" href="{{css:logo.css}}">
		<link rel="stylesheet" href="{{css:darkmode.css}}">
		<link rel="stylesheet" href="{{css:fancylink.css}}">
		<link rel="stylesheet" href="{{css:list.css}}">
		<link rel="stylesheet" href="{{css:credits.css}}">
		<link rel="stylesheet" href="{{css:emailmobile.css}}">
		<link rel="stylesheet" href="{{css:about.css}}">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		<!-- icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ico:apple-touch-icon.png}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ico:favicon-32x32.png}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ico:favicon-16x16.png}}">
        <link rel="manifest" href="{{ico:site.webmanifest}}">

        <!-- FontAwesome -->
		<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

		<!-- site analytics -->
		{{html:analytics-plausible}}
		{{html:analytics-panelbear}}

		<!-- willcarh.art scripts -->
		<script src="{{js:darkmode.js}}"></script>
		<script src="{{js:tagline.js}}"></script>
		<script src="{{js:year.js}}"></script>
		<script src="{{js:email.js}}"></script>
		<script src="{{js:profilephoto.js}}"></script>
		<script src="{{js:anchorjump.js}}"></script>
		<script src="{{js:expselector.js}}"></script>
		<script src="{{js:aboutpagetidbit.js}}"></script>
		<script async src="{{js:preload.js}}"></script>
	</head>
	<body>

		<!-- text content -->
		<div id="content-main">
			<div class="mobile" id="content-intro-mobile">
				<div class="row">
					<div id="profile-img-container-mobile">
						<img id="profile-img-mobile" class="img-fluid" alt="Will Carhart profile picture" src="{{cdn:img/profile.jpg}}">
					</div>
				</div>
			</div>

			<p id="intro-lead">hi there, my name is</p>
			<h1 id="intro-title">Will Carhart.</h1>
			<h1 id="intro-subtitle" class="subtitle-text">I build <span id="tagline">cool</span> software.</h1>
			<div class="standard" id="content-body">
				<div class="section" id="section-0">
					<div class="row">
						<div id="profile-img-container" class="col-md-4">
							<img id="profile-img" class="img-fluid" alt="Will Carhart profile picture" src="{{cdn:img/profile.jpg}}">
						</div>
						<div class="col-md-6">
							<div id="profile-about-container">
								<p class="p">I'm a software engineer based in the San Francisco Bay Area specializing in back-end architectures, cloud infrastructures, and API development. I take pride in designing and implementing impactful software that is feature-rich and easy-to-use.</p>
								{{html:email}}
							</div>
						</div>
					</div>
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-1">
					<div class="row">
						<div class="col-md-3"></div>
						<div id="about-me-container" class="col-md-6">
							<h2>About Me.</h2>
							<p class="p">Originally from the Silicon Valley, I migrated down to San Diego for college at the <a class="fancy-link" href="https://sandiego.edu" target="_blank">University of San Diego</a>. I've worked on a variety of software teams doing a variety of software things, from <a class="fancy-link" href="https://qolsys.com/" target="_blank">home security</a> to <a class="fancy-link" href="https://www.illumina.com" target="_blank">DNA sequencing</a> to <a class="fancy-link" href="https://wisk.aero/" target="_blank">autonomous aircraft</a>. I'm passionate about using software to find creative solutions to complex problems.</p>
							<p class="p">Outside of work, I still like to code. When I'm not coding, you can find me playing my ukulele and keyboard, planning new woodworking projects, or tending to my house plants.</p>
						</p>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-2">
					<div class="row">
						<div class="col-md-3">
							<h2>&nbsp;</h2>
							<h4>Things I work with on the daily.</h4>
							<div class="row">
								<ul>
									<li>Node, Express</li>
									<li>Python, Jupyter</li>
									<li>Bash, Homebrew</li>
									<li>GCP, Bamboo</li>
								</ul>
								<ul>
									<li>HTML, CSS</li>
									<li>Linux, git</li>
									<li>Docker</li>
									<li>Netlify</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<h2>&nbsp;</h2>
							<h4>Accoutrement I've used in the past.</h4>
							<div class="row">
								<ul>
									<li>Java, Swift, C, Deno</li>
									<li>Heroku, AWS, DigitalOcean</li>
									<li>Django, BeautifulSoup</li>
									<li>Jenkins, Travis CI, GitHub Actions</li>
									<li>PostgreSQL, SQLite</li>
								</ul>
							</div>
						</div>
						<div id="skills-container" class="col-md-6">
							<h2>The Tools for my Jobs.</h2>
							<p class="p">Building quality software is what I do. I am proficient in a number of mainstream coding languages, libraries, and tools, and productive with others in a matter of hours.</p>
							<p class="p">I have experience designing, building, and maintaining software projects of all sizes. I regularly advocate for investing in infrastructure, documentation, and process at all stages of a project.</p>
						</div>
					</div>
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-3">
					<h2 id="experience"><a class="silent-link" href="#experience">A Brief History.</a></h2>
					<div id="exp-container" class="row">
						{{html:exp-tabs}}
					</div>
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-4">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<h2>Stuff I've Built.</h2>
							<p class="p">For me, coding is as much a hobby as it is a career. Here are a few things I've built.</p>
						</div>
						<div class="col-md-3"></div>
					</div>
					<div class="spacer-small"></div>
					<div class="row">
						<div class="col-md-2"></div>
						<a class="col-md-4" href="{{src:projects}}">
							<div class="col-md-12" align="center">
								<div id="about-projects-container" class="about-block-container">
									<img id="about-projects-logo" class="about-block-item" alt="project logo" src="{{ico:home-projects-light.png}}">
								</div>
							</div>
						</a>
						<a class="col-md-4" href="{{src:blog}}">
							<div class="col-md-12" align="center">
								<div id="about-blog-container" class="about-block-container">
									<img id="about-blog-logo" class="about-block-item" alt="blog logo" src="{{ico:home-blog-light.png}}">
								</div>
							</div>
						</a>
						<div class="col-md-2"></div>
					</div>
					<div class="spacer-small"></div>
					<div class="row">
						<div class="col-md-12" align="center">
							<div id="more-information">
								<h2 id="tidbit-title">&nbsp;</h2>
								<p id="tidbit-text" class="subtitle-text">&nbsp;</p>
							</div>
						</div>
					</div>
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-5">
					{{html:credits}}
				</div>

				<div class="spacer-small"></div>
			</div>

			<div class="mobile" id="content-body-mobile">
				<div class="row">
					<p class="p">I'm a software engineer based in the San Francisco Bay Area specializing in back-end architectures, cloud infrastructures, and API development. I take pride in designing and implementing impactful software that is feature-rich and easy-to-use.</p>
				</div>

				<div class="spacer"></div>

				<div class="row">
					<h2>About Me.</h2>
					<p class="p">Originally from the Silicon Valley, I migrated down to San Diego for college at the <a class="fancy-link" href="https://sandiego.edu" target="_blank">University of San Diego</a>. I've worked on a variety of software teams doing a variety of software things, from <a class="fancy-link" href="https://qolsys.com/" target="_blank">home security</a> to <a class="fancy-link" href="https://www.illumina.com" target="_blank">DNA sequencing</a> to <a class="fancy-link" href="https://wisk.aero/" target="_blank">autonomous aircraft</a>. I'm passionate about using software to find creative solutions to complex problems.</p>
					<p class="p">Outside of work, I still like to code. When I'm not coding, you can find me playing my ukulele and keyboard, planning new woodworking projects, or tending to my house plants.</p>
				</div>

				<div class="spacer"></div>

				<div class="fake-row">
					<h2>The Tools for my Jobs.</h2>
					<p class="p">Building quality software is what I do. I am proficient in a number of mainstream coding languages, libraries, and tools, and productive with others in a matter of hours.</p>
					<p class="p">I have experience designing, building, and maintaining software projects of all sizes. I regularly advocate for investing in infrastructure, documentation, and process at all stages of a project.</p>
					<h3>Things I work with on the daily.</h3>
					<div class="row">
						<ul>
							<li>Node, Express</li>
							<li>Python, Jupyter</li>
							<li>Bash, Homebrew</li>
							<li>GCP, Bamboo</li>
						</ul>
						<ul>
							<li>HTML, CSS</li>
							<li>Linux, git</li>
							<li>Docker</li>
							<li>Netlify</li>
						</ul>
					</div>
					<h3>Accoutrement I've used in the past.</h3>
					<div class="row">
						<ul>
							<li>Java, Swift, C, Deno</li>
							<li>Heroku, AWS, DigitalOcean</li>
							<li>Django, BeautifulSoup</li>
							<li>Jenkins, Travis CI, GitHub Actions</li>
							<li>PostgreSQL, SQLite</li>
						</ul>
					</div>
				</div>

				<div class="spacer"></div>

				<div class="row">
					<h2 id="experience"><a class="silent-link" href="#experience">A Brief History.</a></h2>
					<div id="exp-container-mobile">
						{{html:exp-tabs-mobile}}
					</div>
				</div>

				<div class="spacer"></div>

				<div class="row">
					<h2>Stuff I've Built.</h2>
					<p class="p" id="stuff-ive-built-mobile">For me, coding is as much a hobby as it is a career. Here are a few things I've built.</p>
					<a class="row about-row-mobile" href="{{src:projects}}">
						<div class="col-3 no-padding" align="center">
							<div id="about-projects-container-mobile" class="about-block-container-mobile">
								<img id="about-projects-logo-mobile" class="about-block-item-mobile" alt="project logo" src="{{ico:home-projects-light.png}}">
							</div>
						</div>
						<div class="col-9">
							<h2 class="tidbit-title-mobile">Projects</h2>
							<p class="tidbit-text-mobile">See what I've been working on.</p>
						</div>
					</a>
					<a class="row about-row-mobile" href="{{src:blog}}">
						<div class="col-3 no-padding" align="center">
							<div id="about-blog-container-mobile" class="about-block-container-mobile">
								<img id="about-blog-logo-mobile" class="about-block-item-mobile" alt="blog logo" src="{{ico:home-blog-light.png}}">
							</div>
						</div>
						<div class="col-9">
							<h2 class="tidbit-title-mobile">Blog</h2>
							<p class="tidbit-text-mobile">Read my blog.</p>
						</div>
					</a>
				</div>

				<div class="spacer"></div>

				<div class="row">
					{{html:credits}}
				</div>

				<div class="spacer-small"></div>
			</div>
		</div>

		<!-- logo -->
		{{html:logo}}

		<!-- mobile email contact -->
		{{html:email-mobile}}

		<!-- dark mode toggle -->
		{{html:darkmode}}
	</body>
</html>