<!DOCTYPE html>
{{sys:header}}
<html>
	<head>
		<!-- metadata -->
		{{meta:blog}}

		<!-- CSS -->
		<link rel="stylesheet" href="{{css:common.css}}">
		<link rel="stylesheet" href="{{css:logo.css}}">
		<link rel="stylesheet" href="{{css:darkmode.css}}">
		<link rel="stylesheet" href="{{css:fancylink.css}}">
		<link rel="stylesheet" href="{{css:footer.css}}">
		<link rel="stylesheet" href="{{css:blog_index.css}}">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		<!-- icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ico:apple-touch-icon.png}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ico:favicon-32x32.png}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ico:favicon-16x16.png}}">
        <link rel="manifest" href="{{ico:site.webmanifest}}">

        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

		<!-- site analytics -->
		{{html:analytics}}

		<!-- willcarh.art scripts -->
		<script src="{{js:darkmode.js}}"></script>
		<script src="{{js:year.js}}"></script>
		<!-- blogcards script is loaded after body for performance reasons -->
	</head>
	<body>
		<!-- text content -->
		<div id="content-main">
			<h1>Blog</h1>
			<div class="spacer"></div>
			<div id="latest-post-container">
				<h3 class="section-title">Latest Post</h3>
				{{html:blog-latest}}
			</div>
			<div class="spacer"></div>
			<div id="all-posts-container">
				<!-- have to be a little creative here to get the h3 to line up with the cards...ugh -->
				<div class="row justify-content-center">
					<div class="col-md-6 row">
						<div class="col-md-12">
							<h3 class="section-title">All Posts</h3>
						</div>
					</div>
					<div class="col-md-6 row"></div>
				</div>
				{{html:blog-all}}
			</div>
			<div class="spacer"></div>

			{{html:footer}}
			<div class="spacer-small"></div>
		</div>

		<!-- logo -->
		<a id="logo-container" href="{{sys:home}}">
			<img id="logo" alt="willcarh.art logo" src="{{ico:android-chrome-512x512.png}}">
		</a>

		<!-- dark mode toggle -->
		<div id="dark-mode-toggle-container">
			<button id="dark-mode-toggle"></button>
		</div>

		<!-- set up interactive project cards -->
		<script defer src="{{js:blogcards.js}}"></script>
	</body>
</html>