<!DOCTYPE html>
{{sys:header}}
<html>
	<head>
		<!-- metadata -->
		{{meta:blog}}

		<!-- CSS -->
		<link rel="stylesheet" href="{{css:common.css}}">
		<link rel="stylesheet" href="{{css:logo.css}}">
		<link rel="stylesheet" href="{{css:darkmode.css}}">
		<link rel="stylesheet" href="{{css:etc.css}}">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		<!-- icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ico:apple-touch-icon.png}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ico:favicon-32x32.png}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ico:favicon-16x16.png}}">
        <link rel="manifest" href="{{ico:site.webmanifest}}">

        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

		<!-- willcarh.art scripts -->
		<script src="{{js:darkmode.js}}"></script>
		<script src="{{js:year.js}}"></script>
		<script src="{{js:etc.js}}"></script>
	</head>
	<body>
		<!-- text content -->
		<div id="content-main">
			<h1>Etc.</h1>
			<h5>Miscellaneous information about willcarh.art.</h5>
			<div class="spacer"></div>
			<!-- this information is a bit too bespoke to be in a content markdown file, unfortunately -->
			<div class="etc-question-container">
				<h3 class="etc-question">Steal my color palette</h3>
				<!-- TODO: add click on color to copy hex code to clipboard -->
				<div id="color-palette-container">
					<div class="color-palette-row row">
						<div class="col-md-1 color-palette-color-container color-palette-color-background-container"></div>
						<p class="col-md-11 color-palette-label">Background &nbsp;&nbsp;&nbsp;&nbsp;<span class="color-palette-hex-code" id="color-palette-color-background">TODO</span></p>
					</div>
					<div class="color-palette-row row">
						<div class="col-md-1 color-palette-color-container color-palette-color-detail-container"></div>
						<p class="col-md-11 color-palette-label">Detail &nbsp;&nbsp;&nbsp;&nbsp;<span class="color-palette-hex-code" id="color-palette-color-detail">TODO</span></p>
					</div>
					<div class="color-palette-row row">
						<div class="col-md-1 color-palette-color-container color-palette-color-subtitle-container"></div>
						<p class="col-md-11 color-palette-label">Subtitle &nbsp;&nbsp;&nbsp;&nbsp;<span class="color-palette-hex-code" id="color-palette-color-subtitle">TODO</span></p>
					</div>
					<div class="color-palette-row row">
						<div class="col-md-1 color-palette-color-container color-palette-color-color-container"></div>
						<p class="col-md-11 color-palette-label">Color &nbsp;&nbsp;&nbsp;&nbsp;<span class="color-palette-hex-code" id="color-palette-color-color">TODO</span></p>
					</div>
					<div class="color-palette-row row">
						<div class="col-md-1 color-palette-color-container color-palette-color-text-container"></div>
						<p class="col-md-11 color-palette-label">Text &nbsp;&nbsp;&nbsp;&nbsp;<span class="color-palette-hex-code" id="color-palette-color-text">TODO</span></p>
					</div>
				</div>
			</div>
			<div class="etc-question-container">
				<h3>Why the owl?</h3>
				<p class="etc-answer">My site logo is an owl. In one of my first software jobs, I was messaging someone on Slack and wanted to add an emoji to the message. I accidentally added the owl emoji instead of whatever I meant to send, and it's stuck ever since. In addition, I just like owls.</p>
			</div>
			<div class="etc-question-container">
				<h3>What do all these icons mean?</h3>
				<p class="etc-answer"></p>
			</div>
		</div>

		<!-- logo -->
		<a id="logo-container" href="{{sys:home}}">
			<img id="logo" alt="willcarh.art logo" src="{{ico:android-chrome-512x512.png}}">
		</a>

		<!-- dark mode toggle -->
		<div id="dark-mode-toggle-container">
			<button id="dark-mode-toggle"></button>
		</div>
	</body>
</html>