<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- metadata -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>willcarh.art</title>
		<meta name="description" content="Will Carhart's personal portfolio website" />
		<meta name="twitter:card" value="summary" />
		<meta property="og:name" content="willcarh.art" />
		<meta property="og:url" content="https://willcarh.art" />
		<meta property="og:image" content="ico/android-chrome-512x512.png" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Will Carhart's personal portfolio website" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="willcarh.art" />

		<!-- CSS -->
		<link rel="stylesheet" href="../style.css">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		<!-- icons -->
		<!-- <link rel="apple-touch-icon" sizes="180x180" href="ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
        <link rel="manifest" href="ico/site.webmanifest"> -->

		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
	<body>
		<div id="content-main">
			<h1>hi there</h1>
			<h3>My name is Will, and I'm <span id="tagline"></span></h3>
		</div>
		<div id="logo-container">
			<div class="circle">
				<a href="https://willcarh.art">
					<img id="logo" alt="willcarh.art logo" src="../ico/android-chrome-512x512.png">
				</a>
			</div>
		</div>
		<div id="dark-mode-toggle-container">
			<button id="dark-mode-toggle"></button>
		</div>
		<div id="background-main"></div>

		<!-- toggle dark/light mode -->
		<script>
			$(document).ready(async () => {
				$('#dark-mode-toggle').click(async () => {
					$('html').toggleClass('dark-mode')
				})
			})
		</script>

		<!-- update tagline -->
		<script>
			const typeText = async (id, text) => {
				let typedText = ''
				while (text.length !== typedText.length) {
					$(id).text(typedText)
					await new Promise(res => setTimeout(res, 100))
					typedText += text[typedText.length]
				}
			}
			const untypeText = async (id, text) => {
				let typedText = text
				while (typedText.length > 0) {
					$(id).text(typedText)
					await new Promise(res => setTimeout(res, 100))
					typedText = typedText.substring(0, typedText.length - 1)
				}
			}
			const taglines = [
				'a software engineer. ',
				'a bash addict. ',
				'a ukulele aficionado. ',
				'an internet denizen. ',
				'a solver of problems. ',
				'a rubix cube fan. ',
				'an outdoorsman. ',
				'a lover of cats and dogs. ',
				'a sucker for a good sunrise. ',
				'a passionate feminist. ',
				'a lifelong learner. ',
				'an adventurous cook and eater. ',
				'a budding woodworker. '
			]
			$(document).ready(async () => {
				let index = 0
				do {
					await typeText('#tagline', taglines[index])
					await new Promise(res => setTimeout(res, 3*1000));
					await untypeText('#tagline', taglines[index])
					index += 1
					index = index % taglines.length
				} while (true)
			})
		</script>

		<!-- dynamically update year -->
		<script>
			const year = new Date().getFullYear();
			$(document).ready(async () => {
				$('#year').text(year)
			})
		</script>
	</body>
</html>