<!DOCTYPE html>
{{sys:header}}
<html lang="en">
	<head>
		<!-- metadata -->
		{{meta:proj}}

		<!-- CSS -->
		<link rel="stylesheet" href="{{css:common.css}}">
		<link rel="stylesheet" href="{{css:logo.css}}">
		<link rel="stylesheet" href="{{css:darkmode.css}}">
		<link rel="stylesheet" href="{{css:fancylink.css}}">
		<link rel="stylesheet" href="{{css:linkicons.css}}">
		<link rel="stylesheet" href="{{css:project_index.css}}">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		<!-- icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ico:apple-touch-icon.png}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ico:favicon-32x32.png}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ico:favicon-16x16.png}}">
        <link rel="manifest" href="{{ico:site.webmanifest}}">

        <!-- FontAwesome -->
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

		<!-- animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

		<!-- willcarh.art scripts -->
		<script src="{{js:darkmode.js}}"></script>
		<script src="{{js:tagline.js}}"></script>
		<script src="{{js:year.js}}"></script>
		<!-- projectcards script is loaded after body for performance reasons -->
	</head>
	<body>
		<!-- text content -->
		<div id="content-main">
			<h1>Projects</h1>
			<div id="content-body">
				<div class="spacer"></div>
				<div class="section" id="section-0">
					{{html:proj-super}}
				</div>

				<div class="spacer"></div>

				<div class="section" id="section-1">
					<h2>All Projects</h2>
					<h5>View archived projects in <a class="fancy-link" href="{{src:vault.html}}">the vault</a>, or check out some <a class="fancy-link" href="{{src:demo_index.html}}">live demos</a>.</h5>
					<div class="spacer-small"></div>
					{{html:proj-all}}
				<div class="spacer"></div>

			</div>
		</div>

		<!-- logo -->
		<a id="logo-container" href="{{sys:home}}">
			<img id="logo" alt="willcarh.art logo" src="{{ico:android-chrome-512x512.png}}">
		</a>

		<!-- dark mode toggle -->
		<div id="dark-mode-toggle-container">
			<button id="dark-mode-toggle"></button>
		</div>

		<!-- set up interactive project cards -->
		<script defer src="{{js:projectcards.js}}"></script>
	</body>
</html>